<configuration>
  <configSections>
    <sectionGroup name="compositeWeb">
      <section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb"/>
      <section name="authorization" type="Microsoft.Practices.CompositeWeb.Configuration.AuthorizationConfigurationSection, Microsoft.Practices.CompositeWeb"/>
    </sectionGroup>
  </configSections>
  <compositeWeb>
    <modules>
      <module name="Products" assemblyName="Products" virtualPath="~/Products">
        <dependencies>
          <dependency module="Shell" />
        </dependencies>
      </module>
    </modules>
    <authorization>
      <!-- Add your own view-rule mappings here:
          e.g.:
              <rule Url="~/Products/Default.aspx" Rule="AllowAccessProductsDefaultView" />
          -->
    </authorization>
  </compositeWeb>
  <appSettings/>
  <connectionStrings/>
  <system.web />
</configuration>
