<div class="jumbotron">
    <h1>GLOBO MART</h1>
    <p class="lead">
        GloboMart is a well-established mass-merchandise retailer with operations in North America,
        Germany and South Africa. They have hundreds of stores scattered throughout each of these
        geographies and they cater to a diverse customer base, selling thousands of items from each store.
    </p>
</div>
